/* 全体で共通のCSSはこのファイルに記述する */
body {
  background-color: #dadada;
}

input {
  height: 30px
}

.allergens {
  display: flex;
}

.allergen {
  margin-left: 20px !important;
  
}

.condition {
    width: 50px;           /* 幅を指定します */
    height: 50px;          /* 高さを指定します */
    font-weight: bold;
    border-radius: 50%; /* ボーダーラジウスを50%にすることで、円形になります */
    background-color: orange;
    display: flex;
    justify-content: center;  /* 水平方向の中央に配置 */
    align-items: center;   

}

.wide-select {
    width: 100%;     /* 横幅を200ピクセルに設定 */
    height: 40px;     /* 縦幅を40ピクセルに設定 */
    padding: 5px;     /* 内側の余白を追加して、テキストがギリギリにならないように */
    border: 1px solid #ccc; /* 枠線を追加 */
    border-radius: 5px; /* 角を少し丸く */
    font-size: 16px;
    margin: 5px;/* フォントサイズを16ピクセルに設定 */
}



/*モーダルウィンドウ関連のCSS*/
.modalWindow-background{
  /*　画面を暗く　*/
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.5);

  /*　画面の中央に要素を表示させる設定　*/
  display: flex;
  align-items: center;
  justify-content: center;

}

.hide{
    z-index:-1;
    opacity:0;
    width: 0px;
    height: 0px;
}

.view{
    z-index:2;
    opacity:1;
    width: 100%;
    height: 100%;
}

.modalWindow-content {
  z-index: 3;
  width: 70%;
  padding: 30px;
  background: #fff;
  border-radius: 2% 2% 2% 2% / 2% 2% 2% 2%;
}

.condition-question{
  text-align: center;
  padding-left:20px;
}
.day-question{
  font-size:2vw;
  /*padding-right:10vw;*/
}

.help-button{
  text-align: center;
}

.tooltip{
    position: relative;

    text-align: left;
    background-color: #eeeeee;
    padding: 5px;
}

.posting-button {
  z-index: 1;
  
  position:absolute;
  top:85vh;
  left:85vw;
  background: #fff;
}

.condition-buttons{
  text-align: center;
  padding:20px;
}

.condition-button label{
    width: 100px;
    height:100px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
}
.condition-text {
  font-size:15px;
}

.blue2{
    background: #0000cd;
    color: #fff;
    opacity:0.6;
}
.green2{
    background: #008000;
    color: #fff;
    opacity:0.6;
}
.yellow2{
    background: #dfcf00;
    color: #fff;
    opacity:0.6;
}
.orange2{
    background: #ff8c00;
    color: #fff;
    opacity:0.6;
}
.red2{
    background: #dc143c;
    color: #fff;
    opacity:0.6;
}
.condition-button input:checked+label{
    color: #fff;
    opacity:1;
}
.condition-button input{
    display: none;
}
.forms{
  padding:10px;
}
.margin{
  margin:15px;
}